.cor1{
    background-color: #ff0000;
}
.nome{
    color:white;
}
.container > h2{
    color: white;
}
.btn{
    border:1px solid white;
    color: white;
    background: none;
}
.btn:hover{
    background-color: #8a02028a;
    color: white;
    border-color: white;
    box-shadow: 2px 2px 2px black;
}
h1:hover{
    text-shadow: 2px 2px 2px #e23232;
}

.filme{
    background-color: black;
}

.filme > p, .filme > a {
    display: none;
}

.filme:hover > img{
    opacity: 0.2;
}
.filme:hover > p{
    display: block;
    position: absolute;
    width: 250px;
    top: 0px;
    color: white;
}
.filme:hover > a{
    display: block;
    position: absolute;
    bottom: 0px;
    color: white;
    border-radius: 2px 2px 2px 2px;
}
.filme:hover > #trailer{
    display: block;
    position: absolute;
    bottom: 24px;
    color: white;
    border-radius: 2px 2px 2px 2px;
}